PINTEREST_APP_ID=
PINTEREST_APP_SECRET=
PINTEREST_WRITE_MODE=dry-run
PINTEREST_API_BASE=https://api.pinterest.com/v5
PINTEREST_DEFAULT_BOARD_ID=
PINTEREST_ALLOWED_LINK_HOSTS=etsy.com,www.etsy.com
MCP_BRIDGE_TOKEN=replace-with-at-least-24-random-characters
